# Ignore directories
vs/
out/

build/
cmake-build-debug/
cmake-build-release/
CMakeFiles/

CMakeCache.txt
cmake_install.cmake
Makefile

*.exe
*.o
*.obj
*.so
*.dll
*.dylib

*.log
*.tmp
*.swp
*.bak
*.swo
*.DS_Store

.vscode/
.idea/

*.~*
*.backup

*.user
*.session
*.ncb
*.sdf
*.opensdf
*.VC.db

# Ignore specific files
include/Game.h
src/Game.cpp